/* app/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@keyframes float {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(30px, -20px) scale(1.05); }
  100% { transform: translate(0, 0) scale(1); }
}

@theme {
  --animation-float: float 12s ease-in-out infinite alternate;
}